- create
- indexing and slicing
- methods
- basics operations
- list comprehension

In [1]:
x = [ ] # empty list
a = [1,2,3,4] # numerical list
b = ['alex', 'alexa', 'alexis'] # text list
c = ['alex', 12, 'alexa','10'] # mixed list
d = [[1,2,3], [1,2],[1,2,3]] # nested list
e = [[1,2,3], [2,3,4],[1,2,2]] # nested list equal

In [2]:
w = [1]* 10 # list duplication(repetation)
print(w)

w2 = [1,2,3]* 3  # list duplication (repetition)
print(w2)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [3]:
a = [1,2,3]
b = [4,5,6]
c = a + b  # list concatenation
print(c)

d = [a, b]  # nested list
print(d)

[1, 2, 3, 4, 5, 6]
[[1, 2, 3], [4, 5, 6]]

In [4]:
"one for all".split()

['one', 'for', 'all']

In [5]:
x = [1,2,3,4,5,6,7,8,9,10]
print(x[:3])  # first 3 items
print(x[-4]) 
print(x[-4:])  # last 4 items
print(x[3:-4])  # middle items

print(x)
print(x[::-1]) # reverse list

print(x[::2])  # all elements with even index
print(x[1::2]) # all elements with odd index

[1, 2, 3]
7
[7, 8, 9, 10]
[4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [6]:
print(x[0]) # first element
print(x[-1]) # last element

1
10

In [7]:
# traverse in list
for i in x:
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

methods
- add
   - append
   - extend
   - insert
- remove
   - remove
   - pop
   - clear
- helper
   - index
   - count
   - sort
   - reverse
   - copy

In [8]:
books = []
books.append("The final empire")
books.append("Data structure")
books.append("Inner engineering")
books.append("Warbreaker")
print(books)

['The final empire', 'Data structure', 'Inner engineering', 'Warbreaker']

In [9]:
books.insert(1, "The way of kings")
books.insert(4, 'Words of Radiance')

In [10]:
print(books)

['The final empire', 'The way of kings', 'Data structure', 'Inner engineering', 'Words of Radiance', 'Warbreaker']

In [11]:
crappy_books = [
    'Twilight saga: New Moon',
    'Twilight saga: Eclipse',
    'The wheel of time',
    'The great hunt'
]
print(crappy_books)

['Twilight saga: New Moon', 'Twilight saga: Eclipse', 'The wheel of time', 'The great hunt']

In [12]:
books.extend(crappy_books)
print(books)

['The final empire', 'The way of kings', 'Data structure', 'Inner engineering', 'Words of Radiance', 'Warbreaker', 'Twilight saga: New Moon', 'Twilight saga: Eclipse', 'The wheel of time', 'The great hunt']

In [13]:
nums = [1,2,3]
more_nums = [4,5,6,7]
nums.extend(more_nums)
print(nums)

[1, 2, 3, 4, 5, 6, 7]

In [14]:
num_matrix = [nums, nums, nums]
print(num_matrix)

[[1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7]]

In [15]:
all_num = nums + more_nums
print(all_num)

[1, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7]

In [16]:
n = int(input("enter a number: "))
list = []
for i in range(1, n):
    list.append(i)
print(list)

[1, 2, 3, 4]

In [17]:
a = []
for i in range(5):
    x = input('enter some data: ')
    a.append(x)
print(a)

['6', '5', '6', '7', '6']

take 5 inputs as numbers and then display the total from the user and the number in a list

In [18]:
list = []
total = 0
for i in range(n):
    n = int(input("enter a number: "))
    total += i
    list.append(i)
print("number entered in list: ",list)
print("total sum of list: ",total)

number entered in list:  [0, 1, 2, 3, 4]
total sum of list:  10

In [19]:
x = []
total = 0
for i in range(5):
    a = int(input("koi number bhro"))
    x.append(a)
print(f'total : {sum(x)}')

total : 33

In [20]:
books.remove("The wheel of time")

In [21]:
def safe_remove(val_to_remove):
    if val_to_remove in books:
        books.remove(val_to_remove)
        print(f"{val_to_remove} removed from list")
    else:
        print(f'{val_to_remove} not found in list')

In [22]:
safe_remove('Warbreaker')

Warbreaker removed from list

In [23]:
books

['The final empire',
 'The way of kings',
 'Data structure',
 'Inner engineering',
 'Words of Radiance',
 'Twilight saga: New Moon',
 'Twilight saga: Eclipse',
 'The great hunt']

In [24]:
books.pop()  # last element

'The great hunt'

In [25]:
output = books.pop(1) # remove index at index 1
print(output)
print(books)

The way of kings
['The final empire', 'Data structure', 'Inner engineering', 'Words of Radiance', 'Twilight saga: New Moon', 'Twilight saga: Eclipse']

In [26]:
books.clear()
print(books)

[]

In [27]:
del a

In [28]:
x = ['a1', 'b2', 'a1','a1','b2']
print(x.count('a1'))
print(x.count('b2'))
print(x.count('c2'))

3
2
0

In [29]:
x.sort()

In [30]:
print(x)

['a1', 'a1', 'a1', 'b2', 'b2']

In [31]:
x.sort(reverse = True)
print(x)

['b2', 'b2', 'a1', 'a1', 'a1']

In [32]:
a = [1,2,3,4,5]
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [33]:
words = ['app','apple','avocado','aeroplane','association']
words.sort()
print(words)

['aeroplane', 'app', 'apple', 'association', 'avocado']

In [34]:
words.sort(reverse = True)
print(words)

['avocado', 'association', 'apple', 'app', 'aeroplane']

In [35]:
words.sort(key = len)
print(words)

['app', 'apple', 'avocado', 'aeroplane', 'association']

In [36]:
words.sort(key = len, reverse = True)
print(words)

['association', 'aeroplane', 'avocado', 'apple', 'app']

In [38]:
words.index('avocado') # return index of first occurence of element

2

In [39]:
words.index('app')

4

In [40]:
word_copy1 = words  # copy by reference with same memory location

In [41]:
word_copy1

['association', 'aeroplane', 'avocado', 'apple', 'app']

In [42]:
word_copy2 = words.copy()  # copy by value

In [44]:
x = [1,2,3]
y = x
x.append(4)
y.append(4)
print(x)
print(y)

[1, 2, 3, 4, 4]
[1, 2, 3, 4, 4]

In [43]:
x = [1,2,3]
y = x.copy()
y.append(4)
print(x)
print(y)

[1, 2, 3]
[1, 2, 3, 4]

generating a list of numbers from existing list

In [46]:
x = [1,2,3,4,5]
x2 = []
for i in x:
    x2.append(i**2)
print(x2)

[1, 4, 9, 16, 25]

# list comprehension
syntax:
'''
new_list = [operation for item in list]
'''

list comprehension with condition
'''
new_list = [operation from item in list if expression]
'''

In [47]:
x2 = [i**2 for i in x]
print(x2)

[1, 4, 9, 16, 25]

In [48]:
a = [1,2,3,4,5,6,7,8,9]
a_odd = [i for i in a if i%2 != 0]
print(a)
print(a_odd)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

In [51]:
a_even = [i**3 for i in a if i%2 == 0]
print(a_even)

[8, 64, 216, 512]